apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 2 # You have 4 nodes, so you can easily scale this up
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      imagePullSecrets:
      - name: ghcr-secret  # <--- Crucial step: Reference the secret here
      containers:
      - name: my-app-container
        image: ghcr.io/abk-ashwin/r2p:feature-mg-ut-e118d7b
        resources:
          requests:
            cpu: "100m"  # 100 millicores (10% of a vCPU)
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app: my-app
        ports:

        - containerPort: 5000 # Change this to your app's internal port

