apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  type: LoadBalancer # Minikube can simulate a LoadBalancer
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80      # The port you want to expose externally
      targetPort: 5000 # The port your container is listening on